# Community Assests Analysis and Street/School Scores

### Configuration

Load the software packages needed.

In [1]:
import numpy as np 
import pandas as pd
import community_profiles.datasets as cp_data

### Load the data

In [2]:
pumas = cp_data.PUMAs.get().sort_values('puma_id').set_index('puma_id')

facility = cp_data.CityOwned.get()
library = facility.loc[facility['ASSET_GROU'] == 'Libraries'] 

parks = cp_data.Parks.get()

hospitals = cp_data.Hospitals.get() 
health_centers = cp_data.HealthCenters.get() 

schools = cp_data.Schools.get()
score = cp_data.SchoolScores.get()

litter = cp_data.LitterIndex.get(fresh = True)


condition = cp_data.StreetCondition.get()

### Count the total in each PUMA

In [6]:
def puma_count(asset):
    """ Returns the total number of the asset in each puma"""

    group = asset.groupby('puma_id')
    puma_count = group.size().reindex(pumas.index).fillna(0)

    return puma_count

In [7]:
asset = [library, parks,  hospitals, health_centers, schools]
list_asset = []
for i in asset:
    list_asset.append(puma_count(i))
    
puma_assets = pd.concat(list_asset, axis =1 ).rename(columns={0: 'library', 1: 'parks', 2 : 'hospitals', 3 : 'health centers', 4 : 'schools'})

In [8]:
puma_assets

         library  parks  hospitals  health centers  schools
puma_id
4203201        4    118          1             0.0       40
4203202        4     52          5             1.0       25
4203203        3     69          2             2.0       37
4203204        7     44          2             4.0       43
4203205        5    109          3             8.0       76
4203206        6    196          4             2.0       58
4203207        4     71          4            13.0       58
4203208        5    349          3             3.0       62
4203209        9    141          6             9.0       63
4203210        6     76          4             6.0       48
4203211        6    101          3             7.0       36

### Scores

school score

In [9]:
# score['school group'] = pd.cut(score['Overall Sc'], bins=[0, 24, 49, 74, 100], labels=False)
# labels = np.array('Score:0-24 Score:25-49 Score:50-74 Score:75-100'.split())
# score['school group'] = labels[score['school group']]

street condition score

In [10]:
little_defect = condition.loc[condition['rating'] < 30 ]
streets = puma_count(condition)
little_defect = puma_count(little_defect)
good_streets = little_defect / streets *100

litter index

In [11]:
litter = litter.loc[litter['YEAR'] == 2018] 
clean = litter.loc[(litter['score'] < 2) & (litter['score'] > 0)]
all_streets = puma_count(litter)
clean_streets = puma_count(clean)
clean = clean_streets / all_streets *100

In [14]:
d = {'good_street_cond' : good_streets,
    'clean_streets' : clean}
df = pd.DataFrame(d)

In [15]:
df

         good_street_cond  clean_streets
puma_id
4203201         36.811254      74.397245
4203202         45.901639      48.566108
4203203         32.352941      39.112903
4203204          6.024096      35.411622
4203205         12.831858      28.388694
4203206         21.231767      59.905921
4203207         21.739130      20.334657
4203208         22.302158      27.395902
4203209         29.914530      67.122351
4203210         23.006135      27.354678
4203211         35.465116      45.560166