# Community Assests Analysis and Street/School Scores

### Configuration

Load the software packages needed.

In [1]:
import numpy as np 
import pandas as pd
import community_profiles.datasets as cp_data

### Load the data

In [6]:
pumas = cp_data.PUMAs.get().sort_values('puma_id').set_index('puma_id')

facility = cp_data.CityOwned.get()
library = facility.loc[facility['ASSET_GROU'] == 'Libraries'] 
playground = facility.loc[facility['ASSET_SUBT'] == 'Playground']

parks = cp_data.Parks.get()

hospitals = cp_data.Hospitals.get() 
health_centers = cp_data.HealthCenters.get() 

schools = cp_data.Schools.get()
score = cp_data.SchoolScores.get()
litter = cp_data.LitterIndex.get(fresh = True)
condition = cp_data.StreetCondition.get()

In [2]:
new_construction = cp_data.NewConstruction.get(fresh = True)

### Count the total in each PUMA

In [4]:
def puma_count(asset):
    """ Returns the total number of the asset in each puma"""

    group = asset.groupby('puma_id')
    puma_count = group.size().reindex(pumas.index).fillna(0)

    return puma_count

In [ ]:
asset = [library, playground, parks,  hospitals, health_centers, schools]
list_asset = []
for i in asset:
    list_asset.append(puma_count(i))
    
puma_assets = pd.concat(list_asset, axis =1 ).rename(columns={0: 'library', 1: 'playground', 
                                                              2 :'parks',  3 :'hospitals', 
                                                              4 :'health centers', 5 : 'schools'})

In [ ]:
puma_assets

### Other indicators

school score

In [ ]:
# score['school group'] = pd.cut(score['Overall Sc'], bins=[0, 24, 49, 74, 100], labels=False)
# labels = np.array('Score:0-24 Score:25-49 Score:50-74 Score:75-100'.split())
# score['school group'] = labels[score['school group']]

street condition score

In [9]:
little_defect = condition.loc[condition['rating'] < 30 ]
good_streets = puma_count(little_defect) / puma_count(condition) *100

litter index

In [10]:
litter = litter.loc[litter['YEAR'] == 2018] 
clean = litter.loc[(litter['score'] < 2) & (litter['score'] > 0)]
clean = puma_count(clean) / puma_count(litter) *100

New Construction permit

In [11]:
new_con = puma_count(new_construction)

In [12]:
d = {'good_street_cond' : good_streets,
    'clean_streets' : clean,
    'new_construction_permits' : new_con }
df = pd.DataFrame(d)

In [13]:
df

         good_street_cond  clean_streets  new_construction_permits
puma_id
4203201         36.811254      74.397245                        37
4203202         45.901639      48.566108                        16
4203203         32.352941      39.112903                        12
4203204          6.024096      35.411622                         6
4203205         12.831858      28.388694                       469
4203206         21.231767      59.905921                       113
4203207         21.739130      20.334657                       370
4203208         22.302158      27.395902                        58
4203209         29.914530      67.122351                       318
4203210         23.006135      27.354678                        59
4203211         35.465116      45.560166                       359