## Crime Analysis

### Configuration

Load the software packages needed.

In [1]:
import numpy as np
import pandas as pd
import community_profiles.datasets as cp_data

### Data

Load the data needed.

In [2]:
crime = cp_data.CrimeIncidents.get()

### Count the total in each PUMA

### Non-violent crimes

In [3]:
# cut data to only non-violent crimes
non_violent = crime.loc[crime['ucr_general'] >=800]

non_violent = cp_data.puma_count(non_violent)

### Violent crimes

In [4]:
# group into 6 main types:
#     1. homicide
#     2. rape
#     3. robbery
#     4. aggravated assault
#     5. burglary
#     6. thefts

# cut data to violent crimes
violent = crime.loc[crime['ucr_general'] < 800].dropna()

# bins for types of violent crimes
bins = np.array([99,199,299,399,499,599,799]) 

# group by 6 maine types and rename
violent['crime group'] = pd.cut(violent.ucr_general, bins, labels=False)
labels = np.array('homicide rape robbery aggravated_assault burglary thefts'.split())
violent['crime group'] = labels[violent['crime group']]

v_crimes = cp_data.puma_count(violent, 'crime group')

### Combine into one Dataframe

In [5]:
crimes = pd.concat((v_crimes, non_violent), axis =1 ).rename(columns ={0 : 'non_violent'}) 
crimes

,aggravated_assault,burglary,homicide,rape,robbery,thefts,non_violent
puma_id,,,,,,,
4203201.0,175,300,4,54,104,2331,3190
4203202.0,289,341,13,52,258,2798,4102
4203203.0,572,525,25,79,452,3734,6786
4203204.0,802,509,46,119,577,3523,8362
4203205.0,1375,794,66,147,919,6116,15708
4203206.0,486,515,20,81,243,3310,6477
4203207.0,1145,880,55,121,749,4904,10736
4203208.0,805,553,36,98,454,3746,13444
4203209.0,442,705,13,71,516,7508,8726
4203210.0,971,833,52,122,550,4675,10268
4203211.0,489,471,10,68,324,3788,5923